/*
	CSS RESET RULE
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cardHighlight{
	min-height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}